@import "../themes/solar/bootstrap.min.css";

@font-face {
  font-family: 'HomeVideo';
  src: url('/assets/fonts/HomeVideoBold-R90Dv.ttf') format('truetype');
  font-weight: bold;
}

:root {
  --footer-height: 5rem;
}

#layoutContainer {
  position: relative;
  min-height: 100vh;
}

#layoutContentWrapper {
  padding-bottom: var(--footer-height);
}

#gameCanvas {
  width: 100%;
  height: 600px;
  cursor: default;
  margin: 1rem 0;
  border: 2px solid #b58900;
  border-radius: 4px;
  background-color: #073642;
  box-sizing: border-box;
  overflow: hidden;
}

#layoutFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}
